<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Métropole Européenne de Lille – Exemple de page</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/server.js"></script>
</head>


  <header>
    <div class="logo">
      <img src="../image/logomel.png" alt="Logo de la Métropole Européenne de Lille">
      <strong>MÉTROPOLE EUROPÉENNE DE LILLE</strong>
    </div>
    <nav>
      <ul>
        <div class="Title-Article">
          <li><a href="./">Accueil</a></li>
          <li><a>Les lignes ▾</a>
              <ul>
                <li><a href="./ligne1.html">Métro Ligne 1</a></li>
                <li><a href="./ligne2.html">Métro Ligne 2</a></li>
              </ul>
          </li>
          <li><a href="./bus.html">Bus en temps réel</a></li>
          <li><a> Les travaux ▾</a>
            <ul>
              <li><a href="./article1.html">Euralille 3000</a></li>
              <li><a href="./article2.html">15 nouvelles rames...</a></li>
              <li><a href="./article3.html">Ligne 1 du métro...</a></li>
            </ul>
          </li>
        </div>
      </ul>
    </nav>
  </header>
  <body>
  <img src="../image/article1/euralille-3000.jpg" alt="lille 3000">
  <div class="Title-Article">Euralille 3000</div>
  <div class="First-content-text">Attirer le TGV nord-européen en cœur de ville de Lille fut un coup de génie, qui continue de porter le développement de la métropole toute entière.<br><br>

    Alors que l’opération « historique » Euralille 1, engagée en 1990 autour des deux gares et leurs TGV a été conclue, et qu’Euralille 2 s'est achevée en beauté avec l’immeuble Biotope qui a accueille le nouveau siège de la MEL depuis mars 2020, l’opération Euralille 3000 engage la densification de ce qui est désormais le 3e quartier d’affaires de France.<br>
    
    Cet ambitieux projet urbain vise à intensifier la vie du quartier et à renforcer sa qualité d’usage par une plus grande mixité programmatique de commerces, de logements, de restaurants, cafés, etc. et par une profonde relecture de ses espaces publics. Il réorganise les flux de déplacements, tous modes confondus, afin d’accueillir l’intégralité des augmentations programmées du « hub » métropolitain et international de transports autour des deux gares. <br>
    
    Les quelques 250.000 m² à construire, dont deux tiers permettront d’offrir de nouvelles réponses aux besoins de l’économie métropolitaine et un tiers accueillera un millier de logements, des commerces et des loisirs, renforceront la place d’Euralille sur l’échiquier national et européen. <br>
    
    Le site historique de la MEL, rue du Ballon, à proximité immédiate d’Euralille, va être également l’objet d’un projet urbain ambitieux. La MEL a quitté le site en mars 2020 pour rejoindre le Biotope à proximité du Grand Palais, permettant ainsi le développement du square métropolitain. Ce dernier, projet d’un potentiel de 90.000 m², mêlera logements et bureaux, commerces et services de proximité dans un cadre paysager très attractif.</div>

    <div class="Title-image">Les projets Euralille 3000</div> 
    <img src="../image/article1/" alt="image 1">
    <img src="../image/article1/" alt="image 2">
    <img src="../image/article1/" alt="image 3">



</body>
</html>
