<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ligne 1 du métro : la MEL annonce la fin de la période probatoire pour le nouveau pilote automatique et la poursuite vers le doublement des rames</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/server.js"></script>
</head>


  <header>
    <div class="logo">
      <img src="../image/logomel.png" alt="Logo de la Métropole Européenne de Lille">
      <strong>MÉTROPOLE EUROPÉENNE DE LILLE</strong>
    </div>
    <nav>
      <ul>
        <div class="Title-Article">
          <li><a href="./">Accueil</a></li>
          <li><a>Les lignes ▾</a>
              <ul>
                <li><a href="./ligne1.html">Métro Ligne 1</a></li>
                <li><a href="./ligne2.html">Métro Ligne 2</a></li>
              </ul>
          </li>
          <li><a href="./bus.html">Bus en temps réel</a></li>
          <li><a> Les travaux ▾</a>
            <ul>
              <li><a href="./article1.html">Euralille 3000</a></li>
              <li><a href="./article2.html">15 nouvelles rames...</a></li>
              <li><a href="./article3.html">Ligne 1 du métro...</a></li>
            </ul>
          </li>
        </div>
      </ul>
    </nav>
  </header>
  <body>
  <img src="../image/article1/euralille-3000.jpg" alt="lille 3000">
  <div class="Title-Article">Ligne 1 du métro : la MEL annonce la fin de la période probatoire pour le nouveau pilote automatique et la poursuite vers le doublement des rames</div>
  <div class="First-content-text">Après un travail intense sur la mise en service du nouveau système de pilotage automatique de la ligne 1, la Métropole Européenne de Lille annonce la fin de la période probatoire le 7 janvier. Cette phase avait pour objectif de tester la viabilité et d’optimiser le système conçu par l’industriel ALSTOM.<br><br>
    Au terme de cette période, le nombre d’incidents diminue de façon continue et l'impact sur les voyageurs a été réduit, avec des actions correctives mises en place au fur et à mesure. L’ensemble des acteurs restent mobilisés et les analyses et améliorations se poursuivent avec un suivi rigoureux des ajustements supplémentaires réalisés ou à venir. Une nouvelle version du pilote automatique est attendue pour début mars, sous réserve de l'approbation des services de l'État. <br><br>
    
    Les prochaines étapes du projet sont désormais axées sur deux axes majeurs :<br><br>
    
    Les travaux de façade des quais : ces travaux de mise en place des nouvelles portes palières sur les « anciens » quais démarreront mi-janvier 2025 et se poursuivront tout au long de l’année 2025. Ils permettront l’accessibilité sur la ligne 1 aux rames 52m.<br>
    La mise en service des rames de 52 mètres : ces nouvelles rames, dont la mise en service est prévue début 2026, offriront une capacité accrue et une amélioration significative du confort pour les voyageurs.<br>
    Les équipes de la MEL, d'ILEVIA et d'ALSTOM restent mobilisées pour que ces étapes se déroulent dans les meilleures conditions, avec un objectif constant d’amélioration des performances du système de transport en métro automatique.<br><br>
    
    La MEL remercie les usagers pour leur patience et leur compréhension durant cette phase d’adaptation. Elle confirme son engagement à assurer un service de transport public performant et de qualité pour tous.



</body>
</html>
