<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Métropole Européenne de Lille</title>
    
    <script>
      
  </script>
  
</head>
<header>
    <div class="logo">
      <img src="../image/logomel.jpg" alt="Logo de la Métropole Européenne de Lille">
    </div>
    <nav>
      <ul>
        <div class="Title-Article">
          <li><a href="./">Accueil</a></li>
          <li><a>Les lignes ▾</a>
              <ul>
                <li><a href="./ligne1.html">Métro Ligne 1</a></li>
                <li><a href="./ligne2.html">Métro Ligne 2</a></li>
              </ul>
          </li>
          <li><a href="./bus.html">Bus en temps réel</a></li>
          <li><a> Les travaux ▾</a>
            <ul>
              <li><a href="./article1.html">Euralille 3000</a></li>
              <li><a href="./article2.html">15 nouvelles rames...</a></li>
              <li><a href="./article3.html">Ligne 1 du métro...</a></li>
            </ul>
          </li>
        </div>
      </ul>
    </nav>
  </header>
<main>
  <section class="banner">
    <img src="../image/tram.jpg" alt="Photo du métro de Lille">
  </section>

</main>
<body>
    
</body>
<footer>
    <p>&copy; 2025 Métropole Européenne de Lille – Ceci est un exemple</p>
  </footer>
</html>
